h1, h2, h3, h4, h5, h6 {
    font-family: Lora;
}

p {
    font-family:lato light, sans-serif;
    font-size: 18px;
    text-align: justify;
}

            
#languageToggle {
    padding: 10px 20px;
    background-color: #cacaca;
    color: #fff;
    border: none;
    cursor: pointer;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0;
}


body {
      position: absolute;
      top: 50px;
      left: 150px;
      right: 150px;
      background-color: #f0f0f0;
}





h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}


p {
    line-height: 1.5;
    color: #666;
    margin-bottom: 15px;
}


a {
    text-decoration: none;
   
}





ul {
    padding-left: 20px;
}

li {
    font-family: 'Lato', sans-serif;
font-weight: 300;
    
   
    text-align: right;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 5px;
    list-style: none;
}


img {
    width: 500px;
    display: block;
    
    margin: 0 auto;
}



.container {
    display: flex; 
}


.content {
    flex: 1; 
    padding: 40px;
}


.sidebar {
    width: 300px; 
    background-color: #f0f0f0;
    padding: 40px;
}

.divider {
    margin-top: 40px;
    border-left: 2px solid #000; 
    height: 100%; 
    line-height: 1.5;
    
}