h1, h2, h3, h4, h5, h6 {
    font-family: Lora;
}

p {
    font-family:lato light, sans-serif;
    font-size: 20px;
}

li{
    font-family:lato bold;
    text-align: right;
}
            
#languageToggle {
    padding: 10px 20px;
    background-color: #cacaca;
    color: #fff;
    border: none;
    cursor: pointer;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
      position: absolute;
      top: 50px;
      left: 150px;
      right: 150px;
      background-color: #f0f0f0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}


p {
    line-height: 1.5;
    color: #666;
    margin-bottom: 15px;
}


a {
    text-decoration: none;
    
}






ul {
    padding-left: 20px;
}

li {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 5px;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
