.navgation {
    width:100vw;
    text-align: center;
    display: flex;
    justify-content: space-between; 

}


nav {
    display: flex;
}


ul {
    width: 100vw;
    padding-left: 20px;
    display: flex; /* 将列表项设置为弹性容器 */
    justify-content: space-between; 
}

li {

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: inline;
    
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 5px;
    list-style: none;
}
