/*------ PART 1 -------------------------*/
/* 1. Change the background-color for the body to #1695A3*/
body{background-color:#1695A3;}

/* 2. Change the text color for the body to #FFFFFF*/
body{color:#FFFFFF;}

/* 3. Change the text color for the paragraph element to #EB7F00*/
p{color:#EB7F00;}


/*------ PART 2 -------------------------*/
/*1. Center the h3*/
h3{text-align: center;}

/*2. Change the font-size of the paragraph element to 40px and the font-weight to bold*/
p{font-size: 40px;font-weight: bold;}

/*3. Change the text color for the paragraph element to #EB7F00*/


/*4. Remove the default underline from the anchor tag below*/
a{text-decoration: none;
color: #FFFFFF;}